server {
  listen 443 ssl;
  server_name {{ item.value.server_name }};
  ssl_certificate     /etc/pki/tls/certs/{{ item.value.server_name }}.crt;
  ssl_certificate_key /etc/pki/tls/private/{{ item.value.server_name }}.key;
  ssl_protocols       TLSv1.2;
  ssl_ciphers         HIGH:!aNULL:!MD5;
  location /nginx-status {
      stub_status on;
      access_log   off;
      allow 192.168.0.0/16;
      deny all;
  }
  location / {
    proxy_pass              http://127.0.0.1:{{ item.value.backend_port }}/{{ item.value.path }};
    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $http_connection;
    proxy_cookie_path /{{ item.value.path }}/ /;
    }
}
