server {
  listen 80;
  server_name {{ item.value.server_name }};
  root {{ item.value.document_root }};

  location = / {
      rewrite ^ /index.html;
  }
  location /nginx-status {
      stub_status on;
      access_log   off;
      allow 192.168.0.0/24;
      deny all;
  }
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/{{ item.value.server_name }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{ item.value.server_name }}/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


  # Redirect non-https traffic to https
   if ($scheme != "https") {
       return 301 https://$host$request_uri;
   } # managed by Certbot

}
