[Unit]
Description=Jellyfin podman service
After=network.target

[Service]
User=poduser
Group=poduser
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm "jellyfin-service"

ExecStart=/usr/bin/podman run --name jellyfin-service --volume /home/poduser/jellyfin_cache:/cache --volume /home/poduser/jellyfin_config:/config --volume {{ storage_path }}/media/movies:/movies:ro --volume {{ storage_path }}/media/shows:/shows:ro --publish 8096:8096 --publish 8920:8920 jellyfin/jellyfin

ExecStop=/usr/bin/podman stop "jellyfin-service"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target