[global]
workgroup = WORKGROUP
server string = Samba Server Version %v

log file = /var/log/samba/log.%m
max log size = 50
security = user
passdb backend = tdbsam

[media]
path = {{ storage_path }}/media
browsable = yes
writable = yes
valid users = @moviegroup