global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state {% if bootstrap_node %}MASTER{% else %}BACKUP{% endif %}
    
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id {{ cluster_router_id }}
    priority {% if bootstrap_node %}101{% else %}100{% endif %}
    
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_pass }}
    }
    virtual_ipaddress {
        {{ cluster_vip }}
    }
    track_script {
        check_apiserver
    }
}
