apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nfs-provisioner
  namespace: default
spec:
  chart: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/releases/download/nfs-subdir-external-provisioner-4.0.8/nfs-subdir-external-provisioner-4.0.8.tgz
  targetNamespace: default
  valuesContent: |-
    nfs:
      server: warehouse.{{ domain }}
      path: {{ nfs_root }}/{{ cluster_name }}
    storageClass:
      name: slownfs
