apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rancher
  namespace: cattle-system
spec:
  repo: https://releases.rancher.com/server-charts/stable
  name: rancher
  chart: rancher
  targetNamespace: cattle-system
  valuesContent: |-
    hostname: {{ cluster_name }}.{{ domain }}