{% if not bootstrap_node %}
server: https://{{ cluster_name }}.{{ domain }}:9345
{% endif %}
token: {{ join_token }}
{% if node_type == "server" %}
tls-san:
  - {{ cluster_name }}.{{ domain }}
{% if cluster_vip is defined %}
  - {{ cluster_vip }}
{% endif %}
cni: calico
#node-taint:
#  - "CriticalAddonsOnly=true:NoExecute"

# replace canal with calico
rke2-canal: disable
{% endif %}
