# {{ ansible_managed }}
<VirtualHost *:80>
   ServerName {{ vhostname }}

   WSGIScriptAlias / {{ django_project_path }}/{{ wsgi_script }}
   WSGIDaemonProcess {{ vhostname }} python-home={{ virtual_env_path }} python-path={{ site_path }}
   WSGIProcessGroup {{ vhostname }}

   <Directory {{ django_project_path }}>
   <Files {{ wsgi_script }}>
   Require all granted
   </Files>
   </Directory>
</VirtualHost>
