database                ldap
readonly                yes
protocol-version        3
rebind-as-user

uri                     "ldap://{{ ldap_server }}:389"

suffix                  "{{ domain_suffix }}"

idassert-bind           bindmethod=simple
                        binddn="{{ service_account }}"
                        credentials="{{ service_password }}"
                        mode=none
idassert-authzFrom      "*"

overlay                 rwm
