database        meta
suffix          "{{ fake_domain_suffix }}"

{% for item in domains %}
uri             "ldap://{{ domains[item].domain_controller1 }}/{{ domains[item].fake_domain_suffix }}"
suffixmassage "{{ domains[item].fake_domain_suffix }}" "{{ domains[item].real_domain_suffix }}"
idassert-bind bindmethod=simple
        binddn="{{ domains[item].service_DN }}"
        credentials="{{ domains[item].service_password }}"
        flags=override
idassert-authzFrom "*"
{% endfor %}
