<user-mapping>
  <authorize username="{{ guac_user }}" password="{{ guac_password }}">
{% for conn in guac_connections %}
    <connection name="{{ conn.name }}">
      <protocol>{{ conn.protocol }}</protocol>
      <param name="hostname">{{ conn.hostname }}</param>
      <param name="port">{{ conn.port }}</param>
      {% if conn.password is defined %}
      <param name="password">{{ conn.password }}</param>
      {% endif %}}
    </connection>
{% endfor %}
  </authorize>
</user-mapping>