firewall {
    all-ping enable
    broadcast-ping disable
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    name WAN_IN {
        default-action drop
        description "WAN to internal"
        rule 10 {
            action accept
            description "Allow established/related"
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Drop invalid state"
            state {
                invalid enable
            }
        }
    }
    name WAN_LOCAL {
        default-action drop
        description "WAN to router"
        rule 10 {
            action accept
            description "Allow established/related"
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action drop
            description "Drop invalid state"
            state {
                invalid enable
            }
        }
{% if openvpn == "enabled" %}
        rule 30 {
            action accept
            description openvpn
            destination {
                port 1194
            }
            protocol udp
        }
{% endif %}
    }
{% for net in networks %}
    name {{ net.name }}_in {
        default-action {{ net.firewall_default }}
        description "{{ net.name }} incoming"
{% for net_group in net.block_networks %}
        rule {{ loop.index }} {
            action drop
            destination {
                group {
                    network-group {{ net_group }}
                }
            }
            log disable
            protocol all
        }
{% endfor %}
    }
{% endfor %}
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable
}
interfaces {
    ethernet eth0 {
        address dhcp
        description Internet
        duplex auto
        firewall {
            in {
                name WAN_IN
            }
            local {
                name WAN_LOCAL
            }
        }
        speed auto
    }
    ethernet eth1 {
        description Local
        duplex auto
        mtu 9000
        speed auto
{% for net in networks %}
{% if net.vlan %}
        vif {{ net.vlan }} {
            address {{ net.cidr }}
            description {{ net.name }}
            mtu 9000
        }
{% endif %}
{% endfor %}
    }
    ethernet eth2 {
        address {{ networks.lan2.gateway }}/24
        description "Local 2"
        duplex auto
        firewall {
            in {
                name awesome_router
            }
        }
        speed auto
    }
    ethernet eth3 {
        duplex auto
        speed auto
    }
    loopback lo {
    }
    openvpn vtun0 {
        mode server
        server {
            name-server {{ ns_A }}
            push-route {{ networks.trust.cidr }}
            subnet 192.168.254.0/24
        }
        tls {
            ca-cert-file /config/auth/cacert.pem
            cert-file /config/auth/server.pem
            dh-file /config/auth/dh.pem
            key-file /config/auth/server.key
        }
    }
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name LAN1 {
            authoritative enable
            disable
            subnet 192.168.1.0/24 {
                default-router 192.168.1.1
                dns-server 192.168.1.1
                lease 86400
                start 192.168.1.38 {
                    stop 192.168.1.243
                }
            }
        }
{% for net in networks %}
{% if net.dhcp_start %}
        shared-network-name {{ net.name }} {
            authoritative disable
            subnet {{ net.cidr }} {
                default-router {{ net.gateway }}
                dns-server {{ ns_A }}
                domain-name {{ dns_suffix }}
                lease 86400
                start {{ net.dhcp_start }} {
                    stop {{ net.dhcp_stop }}
                }
            }
        }
{% endif %}
{% endfor %}
        static-arp disable
        use-dnsmasq disable
    }
    dns {
        forwarding {
            cache-size 150
            except-interface eth0
            name-server 1.1.1.1
        }
    }
    gui {
        listen-address {{ admin_ip }}
        http-port 80
        https-port 443
        older-ciphers enable
    }
    nat {
        rule 5010 {
            description "masquerade for WAN"
            outbound-interface eth0
            type masquerade
        }
    }
    ssh {
        listen-address {{ admin_ip }}
        port 22
        protocol-version v2
    }
}
system {
    host-name {{ ansible_nodename }}
    login {
{% for user in users %}
        user {{ user.name }} {
            authentication {
                encrypted-password {{ user.encrypted_password }}
                plaintext-password ""
                public-keys key1 {
                    key {{ user.pub_key }}
                    type ssh-rsa
                }
            }
            level admin
        }
{% endfor %}
    }
    ntp {
        server 0.ubnt.pool.ntp.org {
        }
        server 1.ubnt.pool.ntp.org {
        }
        server 2.ubnt.pool.ntp.org {
        }
        server 3.ubnt.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone UTC
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@5:nat@3:qos@1:quagga@2:suspend@1:system@4:ubnt-pptp@1:ubnt-udapi-server@1:ubnt-unms@1:ubnt-util@1:vrrp@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v2.0.4.5199165.190605.1549 */
