install
cdrom

keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone America/Chicago --isUtc

ignoredisk --only-use=sda
clearpart --none --initlabel
autopart --type=lvm

bootloader --location=mbr --boot-drive=sda

network --hostname={{ inventory_hostname }} --bootproto=static --ip={{ lookup('dig', inventory_hostname )}} --netmask=255.255.255.0 --gateway={{ host_subnet }}.1 --nameserver={{ ns_A }}

rootpw Pa55word

eula --agreed

user --name={{ default_user }} --groups=wheel

poweroff

%packages

python
libselinux-python
libsemanage-python
open-vm-tools

%end

%post
mkdir -m0700 /home/{{ default_user }}/.ssh/
cat <<EOF >/home/{{ default_user }}/.ssh/authorized_keys
{{ default_user_key }}
EOF
chmod 0600 /home/{{ default_user }}/.ssh/authorized_keys
chown -R {{ default_user }}:{{ default_user }} /home/{{ default_user }}/.ssh
restorecon -R /home/{{ default_user }}/.ssh/

sed -i 's/^Defaults\ \ \ \ requiretty/#Defaults\ \ \ \ requiretty/g' /etc/sudoers
sed -i 's/\(^%wheel\)/# \1/' /etc/sudoers
sed -i 's/^#\s*\(%wheel\s\+ALL=(ALL)\s\+NOPASSWD:\s\+ALL\)/\1/' /etc/sudoers
%end
