[virtualbox]
name={{ ansible_distribution }} $releasever - $basearch - VirtualBox
baseurl=http://download.virtualbox.org/virtualbox/rpm/{{ansible_distribution | lower }}/{{ ansible_distribution_version }}/$basearch
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://www.virtualbox.org/download/oracle_vbox.asc