export ZSH="/home/brad/.oh-my-zsh"

plugins=(git ssh-agent)
source $ZSH/oh-my-zsh.sh

alias flatpak="flatpak --user"
export GOPATH=$HOME/go
export EDITOR="/usr/bin/vim"
export PAGER='less -XF'
PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

if [[ $TOOLBOX_PATH ]]; then

  {% if enable_azure == "yes" %}
  autoload -U +X bashcompinit && bashcompinit
  source /etc/bash_completion.d/azure-cli
  {% endif %}

  {%- if enable_powerline == "yes" -%}
  powerline-daemon -q
  {% if ansible_distribution == "Ubuntu" -%}
  . /usr/share/powerline/bindings/zsh/powerline.zsh
  {% endif %}
  {%- if  ansible_distribution == "Fedora" %}
  . /usr/share/powerline/zsh/powerline.zsh
  {% endif -%}
  {% endif -%}
  alias ls=exa
  alias ll="exa -l"
  source <(kubectl completion zsh)
  alias k=kubectl
  complete -F __start_kubectl k
  # PROMPT="tool ${PROMPT}"
  PATH=$HOME/bin:$PATH
fi
